.card-image:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
   
}
.branddiscription{
    white-space: nowrap; /* Prevent wrapping to a new line */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
    max-width: 1500px; 

}
.brand-container {
  display: flex;
  /* background-color: grey; */
  padding: 20px;
  gap:40px;
  /* margin-left:150px; */
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


.card-image {
  width: 100%;
  border-radius: 160px; /* Adjust as needed */
}

.card-description {
  text-align: center;
  margin: 10px 0;
  font-size: 18px; /* Adjust as needed */
}

@media screen and (max-width:700px) {
  .brand-container {
    display: flex;
    /* background-color: grey; */
    padding: 20px;
    gap:40px;
    margin-left:0px;
  }
}
@media screen and (max-width:490px) {
  .brand-container {
    display: flex;
    flex-direction: column;
    /* background-color: grey; */
    padding: 20px;
    gap:40px;
    margin-left:0px;
  }
  
}

  
/* style={{textAlign:'',backgroundColor:'red',fontSize:'15px',width:'100%',}} */